/*reset*/
*{
    margin: 0;
    padding: 0;
    align-items: centre;
    justify-content: centre;
}

/*varibales*/
:root{
    --head-height: 10px;
}

body{

    background-image: url("background.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 1500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/*header*/
#head{
    /*background-color: #0979c4;*/
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Header: Logo and Image */
#logo{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    margin-right: 600px;
}
#logo img{
    height: 90px ;
}


#head button{
    height: 50px;
    width: 90px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #37128f;
    color: #efefef;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.input-sec{
    display: flex;
    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.input-box{
    padding-top: 20px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border-color: #000000;
    justify-content: center;
    width: 30%;
    height: 90%;
    border-collapse: collapse;
    background-color: #ffffff;
    background-image: url("bg2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.input-box h2{
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 10px;
}

.input-field{
    border-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.input-field input[type="text"]{
    background-color: #ffffff;
    text-align: center;
    box-shadow: none;
    font-size: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.result-btn{
    border-radius: 10px;
    border: none;

    box-shadow: none;
    padding: 10px 25px;
    background: #333;
    color:  #fff;
    font-size: 16px;
    cursor: pointer;
}

.result-btn:hover{
    background: #37128f;
}

.code-sec{
    display: flex;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.machine-code{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 30%;
    height: 80%;

}
 .machine-code th{
    padding: 0 10px;
 }

 #mcode{
    height: 55px;
 }

.tables{
    display: flex;
    height: 400px;
}

.reg-table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 50%;

}

#registers th, td {
    border: 1px solid black;
}

#registers{
    height: 300px;
}

.reg-table th{
    padding-right: 30px;
}

.reg-table thead tr {
    color: #000000;
    text-align: left;
}

.mem-table th{
    padding-right: 30px;
}

#memory th, td {
    border: 1px solid black;
}

#memory{
    height: 300px;
}

.mem-table {
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;

    font-size: 0.9em;
    font-family: sans-serif;
    width: 50%;
}

.mem-table thead tr {
    color: #000000;
    text-align: left;
}

#cycle-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#memreg-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#code-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.clk-cycle{
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

#image1 img{
    height: 160px;
}
#image2 img{
    height: 160px;
}
#image3 img{
    height: 160px;
}
#image4 img{
    height: 160px;
}
#image5 img{
    height: 160px;
}
